.hn-nav-title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    display: block;
}
.item {
    background-image: url(./shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -2px 44px rgba(0, 0, 0, 0.0709352);
    border-radius: 6px;
    padding: 1rem;
    position: relative;
}
.hn-title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    margin: 2rem 0;
    color: #fff;
    display: block;
}
.hn-author {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    color: #fff;
    margin: 0;
}
.hn-timestamp {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0;
}
.hn-score {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    bottom: 1rem;
}
.hn-karma {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    bottom: 1rem;
}